# Python cached files
__pycache__/
*.pyc

# Pytest cache and results
.pytest_cache/
.pydantic_cache/

# IDE settings
.vscode/
.idea/
.venv/
venv/

# Drivers and binaries
*.exe
*.dll
*.so

# Allure reports temporary folder
allure-results/

# Secrets (Файл с токенами)
.env
